@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --bg-color:#89A8B2;
    --bg-color-darker:#4C585B;
    --bg-color-result: #FC8F54;
}

* {   
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.tabela .resultadoTable{
    padding-left: 150px;
}

.resultadoCalculo {
    padding-left: 10px;
    /*
    margin-top: 20px;
    background-color: var(--bg-color-result);
    height: 40px;
    border-radius: 10px;
    */
    text-align: center;
}

form input, form label, form button, .resultadoCalculo {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

form input:focus {
    outline: 2px solid var(--bg-color);
}

form button {
    border: none;
    background: var(--bg-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    transition: background 0.3s ease;
}

form button:hover {
    background: var(--bg-color-darker);
}
